.paginationStyles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reactPaginate {
    color: #808e9b;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    width: fit-content;
}

.reactPaginate>* {
    margin: 0 5px;
    padding: 0.5px;
    font-size: 24px;
}

.active {
    color: white;
    text-decoration: underline;
    margin: 0 5px;
}